div.create-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form.new-post {
  display: flex;
  flex-direction: column;
  width: 600px;
}

input.post-title {
  margin: 20px 0;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 30px;
  font-weight: 800;
}

textarea.post-content {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 200px;
}

button.post-submit {
  margin: 20px 0;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 800;
}
