.blogPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  border: black solid 1px;
  margin: 5px;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  margin-top: 30px;
}

div.postImageContainer {
  min-width: 250px;
  min-height: 250px;
  border-radius: 5%;
  margin: 5px;
  background-size: cover;
  background-position: center;
}

div.postContentContainer {
  padding: 0 20px 20px 20px;
}

img.blogImage {
  height: 200px;
  width: auto;
  align-items: center;
  width: 75%;
  border-radius: 5%;
}

.postTitle {
  font-size: 30px;
  font-weight: 900;
}

.postAuthor {
  font-size: 20px;
  font-weight: 700;
}

.blogStory {
  font-size: 15px;
  font-weight: 500;
}

img.blogImage {
  height: 200px;
  width: 200px;
}
