.nav-container {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  align-items: center;
  color: white;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 800;
}

.logo {
  flex: 1;
  margin-left: 10px;
}

.new-post-link {
  text-decoration: none;
  color: #2fb6ce;
}

.create-post,
.home {
  padding: 10px;
  cursor: pointer;
}

.profile {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.profile-photo {
  margin: 0 10px 0 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
